<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home Page With Handlebars</title>

    <link rel="stylesheet" href="../stylesheets/web-app.css" />
</head>
<body>
    <div class="nav-bar">
        <h1>ITC-230</h1>
        <div class="nav-links">
            <a href="/">Home</a>
            -
            <a href="/about">About</a>
            -
            <a href="/add">Update Item</a>
            -
            <a href="/oops">Test 404</a>
            -
            <a href="/error">Test 500</a>
        </div>
    </div>
    
    {{{body}}}
 
</body>
</html>