body{
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
}
.nav-bar{
    height: 50px;
    width: 100vw;

    background-color: gray;

    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
}
.nav-bar h1{
    margin: 0 15px;
}
.main{
    width: 70%;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 50px;

    background-color: lightgray;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-container p{
    text-align: center;
}